/**
 * Created by ChengZheLin on 2019/5/9.
 */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

button, input, textarea {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, button, input {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    color: @color-txt-main;
    font-size: @font-size-ctx;
    font-family: @font-family-base;
    background-color: @color-bg-main;
}

body {
    padding: 60px 0;
}

.wrapper {
    background-color: #fff;
}

.container {
    padding: 0 60px;
    min-height: 300px;
    
    .c-header {
        padding: 30px 0;
        text-align: center;
        border-bottom: 1px rgba(0,0,0,.05) solid;
        h1 {
            font-size: 20px;
        }
    }
}

.ui-pager {
    padding: 30px 0;
    text-align: center;
    font-size: 0;
    
    .page-numbers {
        display: inline-block;
        margin: 0 5px;
        padding: 0 11px;
        line-height: 28px;
        background-color: #fafafa;
        border: 1px solid rgba(0,0,0,.05);
        border-radius: 3px;
        color: rgba(0,0,0,.6);
        font-size: 12px;
        text-decoration: none;
        
        &.active,
        &:hover {
            background-color: #27ae60;
            color: #fff;
        }
    }
}

@media (max-width: @md-hd-max) {
    body {
        padding: 0;
    }
    
    .container {
        padding: 0 15px;
    }
}
