<footer class="footer">
    <p><a href="{{@site.url}}">{{@site.title}}</a> {{date format="YYYY"}} · ENGINE BY GHOST</p>
    <script type="text/javascript">
        window._SITE_CONFIG && _SITE_CONFIG['filing'] && document.write('<p><a href="http://www.beian.miit.gov.cn">'+ _SITE_CONFIG['filing'] +'</a></p>')
    </script>
</footer>
